<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0"/>
        <add key="webpages:Enabled" value="false"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
        <add key="TCHost" value="[TeamCity DNS name]"/>
        <add key="TCUseSsl" value="True"/>
        <add key="TCUsername" value="[Username]"/>
        <add key="TCPassword" value="[Password]"/>
        <add key="TCProject" value="[TeamCity Project ID]"/>
        <add key="OctopusApiHost" value="[Octopus api url]"/>
        <add key="OctopusApiKey" value="[Octopus api key]"/>
        <add key="BuildScreenLogo" value="[buildscreen logo]"/>
        <!-- to find project id go to https://[Octopusdeploy server]/api/dashboard-->
        <add key="OctopusProject" value="[Octopus project ID]"/>
        <!--<add key="Dashboards" value="Description|http://dashboard-webaddress;Description|http://dashboard-webaddress"/>-->
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5.1"/>
        <httpRuntime targetFramework="4.5.1"/>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
